$denim: hsla(216, 63%, 42%, 1);
$rusty-red: hsla(352, 75%, 52%, 1);
$xiketic: hsla(291, 54%, 3%, 1);
$ivory: hsla(60, 100%, 97%, 1);
$viridian-green: hsla(185, 84%, 38%, 1);

$font-roboto-mono: 'Roboto Mono', monospace;
