@import 'vars';

.Container {
    text-align: center;
}

.NotFoundTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.NotFoundText {
    font-weight: bold;
    color: $denim;
    font-size: 22pt;
    line-height: 1;
}

.GoBackButton {
    margin-top: 8px;
    border: none;
    background-color: rgba($rusty-red, 0.9);
    color: $ivory;
    font-size: 12pt;
    padding: 0.8em 0.6em;
    border-radius: 4px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
        transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        background-color: $rusty-red;
        text-decoration: underline;
        transform: translateY(-4px);
    }
}
